﻿@charset "UTF-8";
/* CSS Document */




#wrap{
	width: 920px;
	height: auto;
	margin: 0px auto;
	padding: 0px;
}
#wrap1{
	width: 920px;
	height: 100%;
	margin: 0px auto;
	padding: 0px;
}

h1{
   text-align: center;
   font: 14px Arial, Helvetica, sans-serif;
   font-weight: lighter;
}
h2{
	text-align: center;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#333;
}
h3{
	text-align: center;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color:#000;
}
h4{
	text-align: center;
	padding-top:0px;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	color:#000;
}
p2{
	text-align: left;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#000;
}
span{
	font-weight: normal;
	font-size:13px;
}

/* estucturas nuevas*/
#header1{   /* header Colegiomedico*/
	width: 920px;
	height: 50px;
	background-color:#06F;
	margin: 0px auto;
	padding: 0px;
}

#cajatexto{ /* cajatexto bienvenidos*/
	width: 910px;
	height:100%;
	min-height:130px;
	font-family:"Lucida Sans Unicode", Arial, Helvetica;
	color:#ffffff;
	font-size:12px;
	background-color:#444;/*#06F*/
	margin: 0px auto;
	padding: 0px;
	font-weight: bold;
	padding-left:5px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:5px
}
#cajatexto1{ /* cajatexto todo*/
	width: 910px;
	height: auto;
	min-height:500px;
	font-family:"Lucida Sans Unicode", Arial, Helvetica;
	color:#ffffff;
	font-size:12px;
	background-color:#5d94ef;/*5d94ef*/ /* a6c3f3*/
	margin: 0px auto;
	padding: 0px;
	font-weight: bold;
	margin-top:15px;
	padding-left:5px;
	padding-top:10px;
/*	padding-bottom:10px;*/
	padding-right:5px;
    text-align: justify;
}
#cajatexto2{ /* cajatexto todo*/
	width: 910px;
	height: auto;
	min-height: 500px;
	font-family:"Lucida Sans Unicode", Arial, Helvetica;
	color:#ffffff;
	font-size:12px;
	background-color:#a6c3f3;
	margin: 0px auto;
	padding: 0px;
	font-weight: bold;
	margin-top:15px;
	padding-left:5px;
	padding-top:10px;
/*	padding-bottom:10px;*/
	padding-right:5px
}

#cajavideo{ /* cajatexto todo*/
	width:800px;
	height:auto;
	min-height:400px;
	background-color:#fff;
/*	background-image:url(images/Untitled-1.jpg);*/
	margin-right: auto;
	margin-left: auto;
	margin-bottom:auto;
	padding:10px 10px 10px 10px;
	text-align: justify;
	font-weight:normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#000;
}
#cajavideo1{ /* cajatexto todo*/
	width:400px;
	height: auto;
	float: left;
	min-height: 235px;
	margin-right: 10px;
/*	margin-left: 10px;*/
	margin-top:30px;
    margin-bottom: 10px;
	border: 8px solid #fff;

}
/* estucturas nuevas*/

/* aqui van las estructuras superiores */
#header{
	width: 920px;
	/*height: 305px; /* 305 */
	margin: 0px auto;
	padding: 0px;
}

    #header + * {
        clear: both;
    }

#banner{
    background-color: #444;
	margin: 1.7em 0 0 0;
	padding: 0px;
/*	background: url("images/muse03.jpg") no-repeat;*/
}

/* cajas CENTRALES */
#main{
	width: 920px;
	height: auto;
	margin: 0px;
	padding: 0px;
}

	
/* aqui van los elementos del MENU */
.menu{
	border:none;
	margin:0px;
	padding:0px;
	font: 13px "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-weight:bold;
}


/* LISTAS y LINEAS generales de menu superior */ 
.menu ul{
	background:#000000; /*azul de fondo era 000*/
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
}

.menu li{
	float:left;
	padding:0px;
}

.menu li a{
	background:#000000 url("images/seperator.gif") bottom right no-repeat;
	color:#cccccc;
	display:block;
	font-weight:normal;
	line-height:35px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
}

.menu li a:hover, .menu ul li:hover a{
	background: #726656 url("images/hover.gif") bottom center no-repeat;
	color:#FFFFFF;		
	text-decoration:none;
	text-shadow: 2px 2px 1px #333;
}


/* LISTAS y LINEAS de SUB-MENU */
.menu li ul{
	background:#333333;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:200px;
	z-index:100;
	/*top:1em;
	/*left:0;*/
}

.menu li:hover ul{
	display:block;
}

.menu li li {
	background:url('images/sub_sep.gif') bottom left no-repeat;
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:200px;
}

.menu li:hover li a{
	background:none;
}
		
.menu li ul a{
	display:block;
	height:35px;
	font-size:11px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
}

.menu li ul a:hover, .menu li ul li:hover a{
	background:#726656 url('images/hover_sub.gif') center left no-repeat;
	border:0px;
	color:#ffffff;
	text-decoration:none;
}


/* Caja Izquierda Botonera vertical*/
#main-left {
	width: 150px;
	height:auto;
	/* curvas para caja, revisar soporte de propiedad en navegadores */
	-moz-border-radius: .7em;
	-webkit-border-radius: .7em;
	float: left;
	background-color:#444;
	font-family:"Lucida Sans Unicode", Arial, Helvetica;
	color:#ffffff;
	padding: 0px;
	margin-top:20px;
}

#main-left dt a, #main-left dt a:visited {
	display:block; 
	height:auto !important; 
	height:23px /*IE6*/; 
	background-color:#444; 
	line-height:23px; 
	padding:0px 10px 0px 15px; 
	border-top: solid 1px #BDB5A6; 
	text-decoration:none; 
	color:#ffffff; 
	font-weight:normal; 
	font-size:12px;
	background:url(images/boton_a.jpg) no-repeat;
}

#main-left dt a:hover {	
	background-color:#726656; 
	color:#FFFFFF; 
	text-decoration:none;
	background-image:url(images/boton_a_hover.jpg);
	background-repeat:no-repeat;
}



#main-right{
	float: right;
	width: 700px;
	height: auto;
	padding: 0px;
	margin: 20px 0px 0px 0px;
}



/* comienzo - tabla */
table {
	border-collapse: collapse;
	width:100%;	
	height: auto;
}

th strong {
	color: #fff;
}

th {
	background: #336600;
	padding-left: auto;
	padding-right: auto;
	color: #FFF;
	text-align: center;
	font-size:13px;
	font:Tahoma,Arial,Helvetica;
	font-style:normal;
}

tr {
	height:22px;
}

td { /*caracteristicas  texto derecha abajo*/
	padding-left: auto;
	padding-right: auto;
	text-align:center;
	font-size:12px;
	font-family:Tahoma,Arial,Helvetica;
}

td.first,th.first {
	border-left: 0px;
}

tr.row-a {
	background: #FFFFFF;
	color:#666666;	
}

tr.row-b {
	background: #E1E1E1;
	color:#666666;	
}

tr.row-c { /*Fila segunda en orden */
	background: #5d94ef; /*#BEB6A7*/		
}

tr.row-inicio { /*Fila inicio en orden */
	background: #0e62ed;
}
/* fin - tabla */

/*cajas del footer*/
#footer {
	background-color: #fff;
	clear: both;
	float: left;
	height: 30px;
	width: 910px;
/*	margin-top:10px;*/
	padding-top: 10px;
/*	padding-right:30px;*/
	padding-bottom: 10px;
/*	padding-left: 30px;*/
}

#footer_texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #999;
	text-align: left;
	float:left;
	padding-left:238px;
}
		