﻿.error {
    color: #f00;
}
.hidden { display: none; }
.align-right { float: right; }
.align-left { float: left; }
.clear { clear: both; }
.collapser { cursor: pointer; display: block; width: 16px; height: 16px; }
.collapse-panel { display: none; }
.current-keywords {
    display: block;
    border: 1px solid #0094ff;
    margin: 0.3em 0;
    padding: 0.7em;
}
.go-back, .go-back-link {
    background: url(images/new_go_previous.png) no-repeat left center;
    color: #0094ff;
    margin: 1em 0;
    padding-left: 26px;
    text-decoration: none;
}
.highlight {
    background-color: #75c2f6;
    color: darkviolet;
    padding: 5px;
}
.no-js-warning { color: red; display: block; }
.plus-icon16x16 { background-image: url(images/plus16x16.png); background-repeat: no-repeat; background-position: center center; }
.minus-icon16x16 { background-image: url(images/minus16x16.png); background-repeat: no-repeat; background-position: center center; }
.separator-bottom {
    border-bottom: 1px dashed black;
    margin: 3px;
}
.text-left {
    text-align: left;
}
.welcome-msg { font-size: 0.8em; }
.warning {
    background-color: #D14024;
    color: #F4D12B;
    padding: 0.3em;
}

.tmp-message {
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 2px black;
    padding: 1em;
}

.edition-table {
    width: 100%;
}

.edition-table * {
    font-family: 'Lucida Sans Unicode', sans-serif;
}

.edition-table tr td {
    padding: .5em;
    border: 1px solid #dedede;
}

.edition-table tr input {
    width: 90%;
    padding: 0.2em;
}

.edition-table .number-input {
    width: 80px;
    text-align: center;
}

    .edition-table tfoot .control {
        display: inline;
    }

    .edition-table input[type=submit],
    .edition-table input[type=checkbox] {
        width: auto;
    }

    .edition-table .search-in-list {
        width: 30%;
        margin: 0 0 0.5em 0;
        padding: .1em 0.2em;
    }

    .edition-table .list-to-search {
        width: 90%;
    }

    .edition-table textarea {
        width: 90%;
        height: 150px;
        padding: 0.3em;
        resize: none;
    }

    .edition-table th a,
    .edition-table th {
        color: white;
    }

.edition-table-controls .control {
    display: inline;
    margin: 0 .3em;
}

.control {
    display: block;
    background-color: #fbfbfb;
    border: 1px solid black;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
    font: 1em Arial, sans-serif;
    margin: 0.5em 0;
    padding: .1em .2em;
    text-decoration: none;
    text-align: center;
}

    .control:hover {
        background-color: #75c2f6;
    }

.control-edit {
    width: 4.2em;
}

.control-new {
    width: 3.2em;
}

.control-delete {
    width: 3.2em;
}

.control-cancel {
    width: 4em;
}

.page-jump {
    clear: both;
}

.required {
    color: red;
}