﻿input[type=text]:focus {
    outline-color: #4182BC;
}

/* Style for the button that moves to the top when the scrollbar is to large
============================================================================ */
#Finder * { font-family: 'Lucida Sans Unicode', Arial, sans-serif; }
#toTop { position: fixed; right: 10px; bottom: 5px; width: 64px; height: 64px; background: url(images/button-arrow-up-icon.png) no-repeat; /* To hide anchor text */ line-height: 0; font-size: 0; color: transparent; /* ------------------- */ }

/* =Lightbox that appears when loading AJAX content
============================================================================ */
#lightbox, #lightbox-search { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #000; opacity: 0.9; filter: alpha(opacity=90); z-index: 1000; }
    #lightbox p { position: absolute; top: 50%; left: 50%; text-align: center; }
        #lightbox p span { display: block; color: white; font: 1.1em bold 'Lucida Sans Unicode', Arial, sans-serif; margin: 0 0 15px 13px }

#lightbox-search {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: transparent;
}

    #lightbox-search .lb-background {
        background-color: inherit;
        z-index: 1001;
    }

        #lightbox-search .lb-background #html-list {
            width: 70%;
            background-color: white;
            margin: 0 auto;
            z-index: 1002;
        }

            #lightbox-search .lb-background #html-list .filter-box {
                float: left;
                margin: 1em;
            }

                #lightbox-search .lb-background #html-list .filter-box input {
                    margin-left: 0;
                }

            #lightbox-search .lb-background #html-list .search-wrap {
                float: left;
                width: 50%;
                height: inherit;
                background-color: #ddd;
                margin: 1em auto;
                overflow-y: scroll;
                padding: 0 1em;
            }

            #lightbox-search .lb-background #html-list .search-wrap p {
                color: #000;
            }

    

/* Webkit uses too much padding on the left for lists ¬¬ (IMHO). */
ul { -webkit-padding-start: 0; list-style-position: inside; }

/* =Finder Section - everything about the results and search
============================================================================ */
#Finder .filter-links li {
    list-style: none;
    margin: 0.5em 0;
}
#Finder .filter-links li a {
    width: 8em;
    display: block;
    background-color: #444;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    padding: 0.3em 0.3em 0.5em 0.3em;
    text-decoration: none;
    text-align: center;
}

    #Finder .filter-links li a:hover {
        background-color: #726656;
        color: #C8E6FF;
    }

#Finder #results { width: 420px; }
    /*#Finder #results a.more-results { display: block; width: 130px; height: auto; background-color: #444; border-radius: 4px; color: #fff; margin: 0 auto; padding: 3px; text-decoration: none; text-align: center; }
        #Finder #results a.more-results:hover { color: #ddd; }*/

#Finder #results {
}

    #Finder #results .art-no-download {
        color: #fff;
    }
    #Finder #results .author,
    #Finder #results .magazine,
    #Finder #results .article-number {
        border: 2px solid #F4CD30;
        background-color: #4182BC;
        margin: 0.5em 0;
        padding: 0 0.5em 0.5em;
    }

    #Finder #results .article {
        background-color: #74aaff;
        border: 2px solid #f4cd30;
        margin: 0.8em 0;
    }

    #Finder #results .article h4 {
        padding: 0;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }

        #Finder #results .article h4 a {
            color: #fff;
            display: block;
            padding: 0.6em 0.3em;
        }

        #Finder #results .author h4:hover,
        #Finder #results .magazine h4:hover,
        #Finder #results .magazine h2:hover,
        #Finder #results .article-number h3:hover,
        #Finder #results .article h4 a:hover {
            background-color: #726656;
            color: #C8E6FF;
        }

        #Finder #results .author h4,
        #Finder #results .magazine h4,
        #Finder #results .magazine h2,
        #Finder #results .article-number h3 {
            color: #fff;
        }

    #Finder #results .author {
        padding: 0.5em;
    }

    #Finder #results .author > h4 {
        border: 2px solid #F4CD30;
        border-radius: 6px;
        background-color: #4182BC;
        margin: 0.5em 0;
        padding: 0.5em 0.5em 0.7em 0.8em;
        text-decoration: underline;
        -webkit-margin-before: 0;
        -webkit-margin-after: 0;
    }

    #Finder #results .article-number {
        padding: 0.5em;
        border: 2px solid #F4CD30;
    }

        #Finder #results .magazine .article-number {
            background-color: #4188ff;
            margin: 0.5em 0;
        }

    #Finder .collapser {
        display: block;
        width: auto;
        height: auto;
    }

    #Finder #results .magazine .collapser {
        margin: 1em 0;
    }

    #Finder h1.plus-icon16x16, #Finder h2.plus-icon16x16,
    #Finder h3.plus-icon16x16, #Finder h4.plus-icon16x16,
    #Finder h1.minus-icon16x16, #Finder h2.minus-icon16x16,
    #Finder h3.minus-icon16x16, #Finder h4.minus-icon16x16 {
        background-image: none;
    }

#Finder #results .volume-list-item {
    display: block;
    width: 10em;
    background-color: #4182BC;
    border: 2px solid #F4CD30;
    border-radius: 5px;
    color: #fff;
    margin: 0 auto;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
}

#Finder #results .volume-list-item:hover {
    background-color: #726656;
    color: #C8E6FF;
}

#Finder #results p {
    margin: .5em 0;
}

#Finder #results > p {
    text-align: center;
}

/* Max width for the main content */
#Finder .align-left { max-width: 500px; margin: 0 10px; }
/* =search-sidebar
============================================================================ */
#Finder #search-sidebar { background-color: #4182BC; border: 3px solid #F4CD30; border-radius: 4px; color: white; padding: 0.8em; margin: 1em 0 0 0; }
    #Finder #search-sidebar h3 { color: white; -webkit-margin-before: 0; }

    /* =search-box
    ============================================================================ */
    #search-box { }
    #search-box #search-btn { background-color: #444; border-radius: 5px; border: none; box-shadow: 1px 1px 2px black; color: white; font-size: 1em; padding: 3px 8px; }
    #search-box #search-btn:hover { cursor: pointer; }
    #search-box input[type=checkbox] { margin-left: 0; }
    /* =char-filter-list
    ============================================================================ */
    #filter-list, #lightbox .filters { width: 120px; list-style: none; margin: 0 auto; }
    #filter-list li { margin: 10px 0; }
        #filter-list li a { display: block; background-color: #666; border-radius: 8px; box-shadow: 1px 1px 2px black; color: white; font-family: 'Lucida Sans Unicode', Arial, sans-serif; font-size: 0.9em; padding: 5px; text-decoration: none; text-align: center; }
        #filter-list li.active a { background-color: black; box-shadow: none; color: white; }

#MainContent_KeywordsTxt { width: 100%; max-width: 100%; height: 250px; resize: vertical; }

/* =Dynamic-title Search page dynamic title styles
============================================================================ */
#Finder #search-for { border-bottom: 1px solid black; text-align: left; }
    #Finder #search-for span { font-size: inherit; }
/*#Finder #filter-controls { max-width: 500px; border-bottom: 1px solid black; margin: 10px 0; padding: 0 0px 10px 0px; }
    #Finder #filter-controls div.search-controls { width: 400px; }
    #Finder #filter-controls div.search-controls a, #lightbox .filters a { float: left; width: 16px; height: 16px; margin: 3px 4px 3px 0px; background-color: #666; border-radius: 3px; box-shadow: 1px 1px 2px black; color: white; font-family: 'Lucida Sans Unicode', Arial, sans-serif; font-size: 1em; padding: 2px 4px 7px 4px; text-decoration: none; text-align: center; }
    
    #Finder #filter-controls #search-mags .js-pagination-wrap a { float: none; display: block; width: auto; height: auto; margin: 0 5px 5px 0; }
    #Finder #filter-controls #search-mags .js-pagination .pagination {
        border: none;
        margin: 0.3em 0 0 0;
    }*/

#Finder #filter-controls div.search-controls a.active-search, #lightbox .filters a.active-search { background-color: black; box-shadow: 1px 1px 0px black; color: white; }
            #Finder #filter-controls div.search-controls a:last-child, #lightbox .filters a:last-child { margin-right: 0; }

/* =Menu for the logged in users
============================================================================ */
ul.ui-accordion { -webkit-margin-before: 0; -webkit-margin-after: 0; border-bottom: 1px solid white; padding-bottom: 10px; text-align: center; }
    ul.ui-accordion, ul.ui-accordion ul { list-style: none; }
        ul.ui-accordion ul li { margin: 10px 0; }
        ul.ui-accordion a, ul.ui-accordion h3 { color: white; font-size: 0.9em; text-decoration: none; }
/* Style for the login name on the administration side */

ul.ui-accordion #Sidebar_LoginInfo_LoginStatus1 {
    text-decoration: underline;
    margin: 0.5em 0;
}

ul.ui-accordion li.session {
    border-bottom: 1px solid white;
}

ul.ui-accordion #Sidebar_LoginInfo_LoginName { font-size: 0.9em; text-align: center; }

            

/* Format for the tables in the administration side
============================================================================ */
/*#main-right table.edition-table * { font-size: 1em; }*/

/* =admin-default 
============================================================================ */

.explanation {
    margin: 1em 0;
}

.explanation h3 {
    margin: 0 .3em .3em 0;
}

/* =Custom Alert
============================================================================ */
#ca-wall {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: none;
}

    #custom-alert {
        position: fixed;
        top: 35%;
        left: 35%;
        min-width: 250px;
        max-width: 50%;
        min-height: 6em;
        background-color: #FBFBFB;
        border: 1px solid #C5C5C5;
        border-radius: 4px;
        box-shadow: 1px 1px 4px #C5C5C5;
        *zoom: 1;
    }

        #custom-alert:after,
        #custom-alert:before {
            content: "";
            display: table;
        }

        #custom-alert:after {
          clear: both;
        }

        #custom-alert * {
            font-family: Arial;
        }

        #custom-alert .ca-title {
            border-bottom: 1px solid #C5C5C5;
            -webkit-margin-after: 0;
            padding: 0 0 0 .3em;
            text-align: left;
        }

        #custom-alert #ca-content {
            padding: .3em .7em .3em .7em;
        }

        #custom-alert #ca-content * {
            line-height: 1.4em;
        }

        #custom-alert .controls {
            border-top: 1px solid #C5C5C5;
            padding: .4em .3em 0.4em .3em;
            *zoom: 1;
        }

            #custom-alert .controls:before,
            #custom-alert .controls:after {
                display: table;
                content: "";
            }

            #custom-alert .controls:after {
                clear: both;
            }

        #custom-alert .button {
            float: left;
            width: auto;
            background-color: #E7E7E7;
            color: black;
            margin: 0em 0.5em 0em 0em;
            padding: 0.3em;
            text-align: center;
            text-decoration: none;
        }

            #custom-alert .button:hover {
                background-color: lightskyblue;
            }

        #custom-alert .close-dialog,
        #custom-alert .controls .close {
            margin: 0;
        }

        #custom-alert .close-dialog {
            position: absolute;
            right: 0.3em;
            top: 0.3em;
        }

        #custom-alert .controls .close {
            float: right;
        }


@media screen and (max-width: 300px) {
    #custom-alert {
        left: 0;
        top: 0;
        max-width: 250px;
    }
}

@media screen and (max-width: 200px) {
    #custom-alert {
        left: 0;
        top: 0;
        max-width: 180px;
    }
}

/* =Pagination - Page links on the results page */
.pagination {
    /*background-color: #fbfbfb;*/
}

#Finder .pagination:last-child {
    border-top: 1px solid black;
    padding-top: 0.5em;
}

#Finder .pagination:first-child {
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
}

    .pagination::before,
    .pagination::after  {
        content: "";
        display: table;
    }

    .pagination::after {
        clear: both;
    }

    .pagination .pagination-link {
        float: left;
        background-color: #fbfbfb;/*#eaeaea;*/
        border-radius: 5px;
        font-size: 0.8em;
        margin: 0 0.5em;
        padding: 0.3em;
        text-decoration: none;
    }

        .pagination .pagination-link:hover {
            background-color: lightskyblue;
            color: white;
        }

    .pagination span.current-pagination-link {
        /*background-color: orange;*/
        color: orange;
    }

        .pagination span.current-pagination-link:hover {
            background-color: #fbfbfb;
            color: orange;
        }

.pagination span.next-link {
    margin-right: 0;
}

.pagination span.prev-link {
    margin-left: 0;
    float: left;
}

    .pagination span.next-link:hover,
    .pagination span.prev-link:hover {
        background-color: #fbfbfb;
        color: black;
    }

table.edition-table #MainContent_MagazineView_CheckFolderBtn {
    font-size: 0.7em;
}

table.edition-table #MainContent_MagazineView_EmptyFolderLbl {
    font-size: 0.7em;
    margin: 0.3em 0 0 0;
}

#article-filter a.collapser {
    background: none;
    width: auto;
    height: auto;
    float: none;
    display: inline;
}

/* =Article List
 --------------------------- */
#article-list {
}
    #article-list .collapser {
        width: auto;
        height: auto;
        background: none;
    }

    #article-list .controls a {
        text-align: center;
    }

    #article-list .item {
        border: 1px solid black;
        margin: 0.5em 0 0.7em 0;
    }

        #article-list .item > h4 {
            -webkit-margin-before: 0;
            -webkit-margin-after: 0;
            background-color: #444;
            color: white;
            padding: 0.4em 0.3em;
        }

        #article-list .item .article {
            width: 23em;
            float: left;
            padding: 0 0 0 0.5em;
        }

        #article-list .item .article a {
            color: blue;
            text-decoration: none;
        }

        #article-list .item .meta {
            width: 18em;
            float: left;
            margin: 0 0 0 1em;
            padding: 0 0 0 0.5em;
        }

            #article-list .item .meta * {
                text-align: right;
            }

        #article-list .item .controls {
            border-top: 1px solid black;
            padding: .4em .3em;
            *zoom: 1;
        }

            #article-list .item .controls:after,
            #article-list .item .controls:before {
                content: "";
                display: table;
            }

            #article-list .item .controls:after {
                clear: both;
            }

            #article-list .item .controls .control {
                float: left;
                margin: 0 0.5em;
            }

            #article-list .item .controls .control-delete {
                float: right;
            }

fieldset.controls .control {
    float: left;
    margin: 0 .5em 0 0;
}

fieldset.controls .control-cancel {
    float: right;
}

fieldset textarea {
    width: 100%;
    height: 12em;
    resize: vertical;
}

fieldset {
    margin: 10px 0;
}

fieldset * {
    margin: 0.3em 0;
}

#MainContent_Messages {
}

    .success {
        background-color: #1DD300;
        background-image: url(images/check.png);
        background-position: 99% center;
        background-repeat: no-repeat;
        color: white;
        padding: 0.5em;
        display: block;
    }

    .error {
        background-color: #CB0035;
        background-image: url(images/error.png);
        background-position: 99% center;
        background-repeat: no-repeat;
        color: #fff;
        padding: 0.5em 2em 0.5em 0.5em;
        display: block;
    }

    .warning {
        background-color: #FDE101;
        background-image: url(images/warning.png);
        background-position: 99% center;
        background-repeat: no-repeat;
        color: #000;
        padding: 0.5em 2em 0.5em 0.5em;
        display: block;
    }

#MainContent_AuthorPanel,
#MainContent_KeywordList {
    /*height: 300px;*/
    background-color: #FBFBFB;
    border-top: dashed black 1px;
    margin-top: 10px;
    padding: 8px;
}

#MainContent_AuthorPanel .index-panel > div,
#MainContent_KeywordList .index-panel > div {
    float: left;
    width: 190px;
    margin-right: 5px;
    padding: 5px;
}

#MainContent_AuthorPanel .index-panel > div label,
#MainContent_KeywordList .index-panel > div label {
    margin-left: 5px;
}

#MainContent_AuthorPanel .index-panel h5,
#MainContent_KeywordList .index-panel h5 {
    background-color: #4182BC;
    color: white;
    font-size: 1.1em;
    margin: 8px 0;
    padding: 5px;
    text-align: center;
}

#MainContent_AuthorPanel .index-panel > div label,
#MainContent_AuthorPanel .index-panel > div input[type=checkbox] {
    cursor: pointer;
}

/*#MainContent_AuthorPanel .index-panel .selected-author {
    border-radius: 5px;
    background-color: #C8E6FF;
    color: crimson;
}*/

#MainContent_CurrentAuthorNames,
#MainContent_CurrentKeywords {
    background-color: #FBFBFB;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px 0;
    padding: 10px ;
}

#MainContent_CurrentAuthorNames label,
#MainContent_AuthorPanel span,
#MainContent_CurrentKeywords label,
#MainContent_KeywordList span {
    float: left;
    display: block;
    background-color: #4182BC;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin: 5px 5px 5px 0;
    padding: 5px;
}

#MainContent_AuthorSearchBtn {
    display: inline;
}

#author-search a.reset {
    display: inline-block;
}

#login-panel {
	width: 200px;
	border: none;
	border-radius: 8px;
	box-shadow: 1px 0 2px black;
	margin: 15px auto 0 auto;
	padding: 15px 10px;
}

#login-panel legend {
	background-color: gold;
	border-radius: 5px;
	box-shadow: 1px 0 2px black;
	color: darkviolet;
	padding: 5px 10px 5px 10px;
}

#login-panel input[type=text], #login-panel input[type=password] {
	width: 97%;
}

#login-panel p span { font-family: 'Times New Roman'; font-size: 1em; }

/*#login-panel input[type=submit] {
	width: 100%;
	background-color: blue;
	color: white;
	border: none;
	padding: 5px 0;
	cursor: pointer;
}

#login-panel input[type=submit]:hover {

}*/
